:root {
    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Overpass', sans-serif;

    --clr-990: hsl(240, 10%, 16%);
    --clr-980: hsl(237, 17%, 21%);
    --clr-920: hsl(208, 49%, 24%);
    --clr-910: hsl(237, 23%, 32%);
    --clr-900: hsl(207, 13%, 34%);
    --clr-850: hsl(356, 100%, 66%);
    --clr-800: hsl(355, 100%, 74%);
    --clr-200: hsl(240, 2%, 79%);
    --clr-100: hsl(0, 0%, 100%);

    --fs-primary: 1rem;
    --fs-200: 2rem;
    --fs-800: 4rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

.fs-pri {
    font-size: var(--fs-primary);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-800 {
    font-size: var(--fs-800);
}

